<section class="hero section-padding position-re" data-scroll-index="1">
    <div class="container">
        <div class="row">

            <div class="col-lg-5">
                <div class="hero-img">
                    <img src="img/bay.jpg" alt="">
                </div>
            </div>
            
            <div class="offset-lg-1 col-lg-6">
                <div class="content">
                    <h6>Who am i</h6>
                    <h4>Bayram!!!</h4>
                    <h5>Software Developer</h5>
                    <a href="#0" class="butn butn-light" data-scroll-nav="5">
                        <span>Hire Me!</span>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <svg class="wave" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 81.717" enable-background="new 0 0 1920 81.717" xml:space="preserve"><path style="" d="M1920,0c0,0-109.246,46.107-316.333,67.334C1343.5,94,1137.095,77.238,999.167,67.5C854,57.25,637.662,24.697,541.709,18.834C375.334,8.666,147,11,0,37.875V0H1920L1920,0z"></path></svg>
</section>
<section class="blog section-padding bg-dark position-re" data-scroll-index="4">
    <div class="container">
        <div class="row">

            <div class="section-head text-center col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <h4>Our Blog</h4>
            </div>
            <div class="clearfix full-width"></div>

            <div class="col-lg-4">
                <div class="item mb-md50">
                    <div class="post-img position-re o-hidden">
                        <img src="img/blog/01.jpg" alt="">
                    </div>
                    <div class="content">
                        <span class="data">
                            <a href="#0" class="undecro">WordPress</a>
                            <a href="#0" class="undecro">March 21 - 2018</a>
                        </span>
                        <h5><a href="#0" class="undecro">Your ideal WordPress theme is here.</a></h5>

                        <a href="#0" class="more mt-30">
                            <span>Read More</span>
                        </a>
                    </div>
                </div>
            </div>
           

            <div class="col-lg-4">
                <div class="item mb-md50">
                    <div class="post-img position-re o-hidden">
                        <img src="img/blog/03.jpg" alt="">
                    </div>
                    <div class="content">
                        <span class="data">
                            <a href="#0" class="undecro">ThemeForest</a>
                            <a href="#0" class="undecro">March 21 - 2018</a>
                        </span>
                        <h5><a href="#0" class="undecro">How to improve your business ?</a></h5>

                        <a href="#0" class="more mt-30">
                            <span>Read More</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="item">
                    <div class="post-img position-re o-hidden">
                        <img src="img/blog/02.jpg" alt="">
                    </div>
                    <div class="content">
                        <span class="data">
                            <a href="#0" class="undecro">Lifestyle</a>
                            <a href="#0" class="undecro">March 21 - 2018</a>
                        </span>
                        <h5><a href="#0" class="undecro">Style workspaces for your inspiration.</a></h5>

                        <a href="#0" class="more mt-30">
                            <span>Read More</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <svg class="wave" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 81.717" enable-background="new 0 0 1920 81.717" xml:space="preserve"><path style="" d="M1920,0c0,0-109.246,46.107-316.333,67.334C1343.5,94,1137.095,77.238,999.167,67.5C854,57.25,637.662,24.697,541.709,18.834C375.334,8.666,147,11,0,37.875V0H1920L1920,0z"></path></svg>
</section>

<!-- End Blog ====
======================================= -->
<!-- =====================================
==== Start Contact -->

<section class="contact section-padding position-re" data-scroll-index="5">
    <div class="container">
        <div class="row">

            <div class="section-head text-center col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <h4>Contact me</h4>
            </div>

            <div class="col-lg-5">
                <div class="info bg-img mb-md50" data-background="img/map.png">
                    <div class="item">
                        <div class="cont">
                            <h6>Phone : </h6>
                            <p>+994 70 877 74 79</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cont">
                            <h6>Address : </h6>
                            <p>Baku<br> Azerbaijan </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cont">
                            <h6>Email : </h6>
                            <p>bayram.baxwiyev@mail.ru</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7">

                <form class="form" id="contact-form" method="post" asp-action="Info">

                    <div class="messages"></div>

                    <div class="controls">

                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="form_name" type="text" name="Name" placeholder="Name" required="required" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="form_email" type="email" name="Email" placeholder="Email" required="required">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input id="form_subject" type="text" name="Subject" placeholder="Subject">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea id="form_message" name="Message" placeholder="Message" rows="4" required="required"></textarea>
                                </div>
                            </div>

                            <div class="col-md-12 text-center">
                             <button type="submit"> Gonder </button>
                            </div> 

                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <svg class="wave dark" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 81.717" enable-background="new 0 0 1920 81.717" xml:space="preserve"><path style="" d="M1920,0c0,0-109.246,46.107-316.333,67.334C1343.5,94,1137.095,77.238,999.167,67.5C854,57.25,637.662,24.697,541.709,18.834C375.334,8.666,147,11,0,37.875V0H1920L1920,0z"></path></svg>
</section>
</section>